@model ACTVOT.Web.Data.Entities.Candidates

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Polparty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Polparty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"class="btn btn-warning">Edit</a> |
    <a asp-action="Index"class="btn btn-success">Back to List</a>
</div>
